doctype html
html
	head
		link(href='https://fonts.googleapis.com/css?family=Raleway|Roboto', rel='stylesheet')
		link(href='stylesheets/styles.css', rel='stylesheet')
	body
		#header
			ul
				button#menu MENU
		#content
			#imageSlide
			ul
				li#mainContent dank
				li#sidebar dank

		#footer
		script(src='scripts/jquery-3.2.0.min.js')
		script(src='scripts/scripts.js')
