doctype html
html
	head
		meta(charset="utf-8")
		link(href='https://fonts.googleapis.com/css?family=Raleway|Roboto', rel='stylesheet')
		link(href='stylesheets/styles.css', rel='stylesheet')
	body
		#header
			ul
				div.menubutton
					p MENU
				div.menubutton
					p page1
				div.menubutton
					p page2
				div.menubutton
					p page3
		#content
			#imageSlide
			ul
				li#mainContent dank
				li#sidebar dank
		#footer
		script(src='scripts/jquery-3.2.0.min.js')
		script(src='scripts/scripts.js')
