* {
  position: relative;
  font: 100% "Raleway";
  margin: 0;
  padding: 0; }

#opacity {
  width: 100%;
  height: 100%;
    height-opacity: 0;
    height-pointer-events: none; }
  #opacity.show-opacity {
    opacity: 0.5;
    pointer-events: auto; }

#header {
  z-index: 5;
  background-color: #89bdd3;
  width: 100%;
  box-shadow: 0px 2px 5px black; }

#header ul {
  height: 4em; }

#header ul button {
  float: left;
  height: 100%;
  list-style-type: none;
  width: 10%; }

.menubutton {
  position: relative;
  float: left;
  color: #ecf5f8;
  width: 10%;
  height: 100%;
  background-color: #89bdd3;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease, color 0.6s ease-in-out, background-color 0.2s ease-in-out; }
  .menubutton:focus {
    outline: 0; }
  .menubutton:hover {
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.72);
    background-color: #ecf5f8;
    color: #4597ba; }
  .menubutton:active {
    background: linear-gradient(#295b70, #295b70);
    box-shadow: inset 0px 0px 5px 0px black, 0px 2px 9px 0px rgba(0, 0, 0, 0.72); }

.menubutton {
  padding: 0.01%; }

#content {
  background-color: #9ad3de;
  height: 50em;
  margin-left: 0;
  transition: margin-left 1s ease; }

#content ul li {
  list-style-type: none; }

#mainContent {
  width: 75%;
  float: left; }

#mainContent ul {
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px black; }

#sidebar {
  margin-right: 30px;
  background-color: white;
  box-shadow: 0px 0px 5px 1px black;
  width: 20%;
  float: right; }
